body {
    font-family: sans-serif;
}

button, input[type='button'], input[type='reset'] {
    cursor: pointer!important;
}

.tableOfPlayers {
    border-collapse: collapse;
}

    #listOfPlayers td, #listOfPlayers th {
        padding: 5px;
        border: 1px solid #000;
    }

    #listOfPlayers .leftBorder {
        border: none;
    }