/* body {
    font-family: sans-serif;
}

.btn {
    cursor: pointer!important;
    -moz-box-shadow: 0px 2px 5px -3px #000000;
    -webkit-box-shadow: 0px 2px 5px -3px #000000;
    box-shadow: 0px 2px 5px -3px #000000;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:3px;
    display:inline-block;
    padding: 5px 5px;
    text-decoration:none;
}

.btn:focus {
    outline: none;
}

.btn:active {
    position: relative;
    top: 1px;
}

    .btn-default {
        background-color:#f0f0f0;
        border:1px solid #000000;
        color:#000000;
        text-shadow:0px 1px 0px #ffffff;
    }

    .btn-default:hover {
        background-color:#e0e0e0;
    }

.form-group {
    margin-bottom: 10px;
}

.tableOfPlayers {
    border-collapse: collapse;
}

    #listOfPlayers td, #listOfPlayers th {
        padding: 5px;
        border: 1px solid #000;
    }

    #listOfPlayers .leftBorder {
        border: none;
    }

    */

.delPlayerBtn {
    margin-top: -5px;
    margin-bottom: -2px;
}

#showDelPlayerButtonsBtn,
#hideDelPlayerButtonsBtn {
    margin: 0px;
    padding: 0px;
}