* {
	z-index: 0;
}

.new-game-form-block {
    margin-top: 20px;
}

.del-player-btn {
	color: #FF0000;
	cursor: pointer;
}

table.new-players {
	margin-bottom: 10px;
}

table.new-players td {
	border: 0;
}

.warning-msg {
	color: #c7254e;
}

.not-valid:after {
	content: "Только буквы, цифры, пробел и точка";
    display: block;
    color: #c7254e;
    background-color: #f9f2f4;
    padding: 0px 4px;
    margin-left: 5px;
    border: 1px solid #c7254e;
    width: 160px;
}